{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

  {% block content %}
  <style type="text/css">
     body{
      background-color: #508bfc;
    }
  </style>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Login</h3>
              {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-danger"> {{ message }} </p>
                {% endfor %}
              {% endif %}
              <form method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input name="email" type="email" id="email" class="form-control form-control-lg" />
                  <label class="form-label" for="email">Email</label>
                </div>
                <div class="form-outline mb-4">
                  <input name="password" type="password" id="password" class="form-control form-control-lg" />
                  <label class="form-label" for="password">Password</label>
                </div>
                <button class="btn btn-lg btn-block btn-primary" type="submit"> Login</button>
              </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  {% endblock content %}