{% extends 'base.html' %}
{% load crispy_forms_tags %}

  {% block content %}
  <style type="text/css">
     #form  input{
        margin-top: 18px;
     }
     body{
      background-color: #508bfc;
    }
  </style>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">Sign Up</h3>
              {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-danger"> {{ message }} </p>
                {% endfor %}
               {% endif %}
              <form method="post" id="form">
                {% csrf_token %}
                {{ form | crispy }}
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock content %}